[Unit]
Description=${RELAY_UNIT_DESCRIPTION}
Requires=${RELAY_SOCKET_UNIT}
After=${RELAY_SOCKET_UNIT}

[Service]
Type=simple
ExecStart=${SOCKET_PROXYD_PATH} ${RELAY_TARGET}
Restart=on-failure
RestartSec=5s
User=root
