ZEROTIER_NETWORK_ID=0123456789abcdef
ZEROTIER_SUBNET=10.246.77.0/24
UBUNTU_ZT_IP=10.246.77.1
HOME_PC_ZT_IP=10.246.77.10
WORK_PC_ZT_IP=10.246.77.20
PROXY_BIND_IP=10.246.77.1
PROXY_PUBLIC_ACCESS=false
PROXY_CONNECT_HOST=10.246.77.1
PROXY_ALLOWED_CLIENT_CIDRS=
PROXY_PORT=10808
PROXY_USERNAME=test-user
PROXY_PASSWORD=test-pass
PROXY_MODE=local-rule-client
PROXY_DEFAULT=proxy
DIRECT_DOMAINS=localhost,*.local
DIRECT_DOMAIN_SUFFIXES=.local
DIRECT_IP_CIDRS=10.246.77.0/24,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
DIRECT_PROCESS_GROUPS=remote-tools
DIRECT_PROCESS_NAMES=steam.exe
DIRECT_PROCESS_PATHS=
DIRECT_PROCESS_PATH_REGEX=
ENABLE_RELAY=false
RELAY_PORT=443
RELAY_FORCE=false
REMOTE_PORTS=3389
LOCAL_PROXY_PORT=20808
