{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "inbounds": [
    {
      "type": "mixed",
      "tag": "zt-private-proxy",
      "listen": "${PROXY_BIND_IP}",
      "listen_port": ${PROXY_PORT}${SERVER_AUTH_JSON}
    }
  ],
  "outbounds": [
    {
      "type": "direct",
      "tag": "direct"
    }
  ]
}
